.jobs-container {
     background-color: hsl(180, 52%, 96%); 
     // background-color: hsl(180, 31%, 95%);
    
     padding: 2% 5%;

     display: flex;
     flex-direction: column;
     gap: 20px;

     align-items: center;
}