@import url("https://fonts.google.com/specimen/League+Spartan");
:root {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  /* margin-top: 8px; */
  /* margin-bottom: 8px; */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d1d1f
}



